body {
    background-color: #F09D50!important;
    height: 100%;
}

#appContainer {
    height: 100%;
}

#app {
    height: 100%;
    padding-left: 110px!important;
}

.height100 {
    height: 100%;
}